USE [master]
GO
/****** Object:  Database [Practise_Jeff]    Script Date: 7/19/2018 8:15:00 PM ******/
CREATE DATABASE [Practise_Jeff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practise', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practise.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practise_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practise_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practise_Jeff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practise_Jeff]
GO
USE [Practise_Jeff]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/19/2018 8:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 7/19/2018 8:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Salary] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudents]    Script Date: 7/19/2018 8:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[TotalMarks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmployeeId], [FirstName], [LastName], [Salary]) VALUES (1, N'Jef', N'Ch', 2342352)
INSERT [dbo].[tblEmployee] ([EmployeeId], [FirstName], [LastName], [Salary]) VALUES (2, N'Shishir', N'peeru', 2000)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
SET IDENTITY_INSERT [dbo].[tblStudents] ON 

INSERT [dbo].[tblStudents] ([ID], [Name], [Gender], [TotalMarks]) VALUES (1, N'Mark Hastings', N'Male', 900)
INSERT [dbo].[tblStudents] ([ID], [Name], [Gender], [TotalMarks]) VALUES (2, N'Pam Nicholas', N'Female', 760)
INSERT [dbo].[tblStudents] ([ID], [Name], [Gender], [TotalMarks]) VALUES (3, N'John Stenson', N'Male', 980)
SET IDENTITY_INSERT [dbo].[tblStudents] OFF
/****** Object:  StoredProcedure [dbo].[spGetStudentByID]    Script Date: 7/19/2018 8:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * from tblStudents

Create Proc [dbo].[spGetStudentByID]
@ID int
as
Begin
 Select ID, Name, Gender, TotalMarks
 from tblStudents where ID = @ID
End
GO
USE [master]
GO
